<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHP Russia 2024 Symfony example application</title>
</head>
<body>
<p>Welcome to symfony example application!</p>
</body>
</html>
